* {
  box-sizing: border-box;
}

.caption {
  background: #fff;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  float: right;
  border: 1px solid #ddd;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

/*.card {
  width: 42.5%;
  margin: 0 auto;
}*/
